@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .portfolio .library ul li img {
        width: 214px;
    }
    .left-part {
        width: 283px;
    }
    .news-update .singlenews {
        font-size: 23px;
    }
    .n-content .n {
        padding-left: 0;
    }
    .footer .footer-content {
        width: 100%;
        left: 0;
        text-align: center;
    }
    .services .services-inner {
        padding: 30px 47px;
    }
    .about-inner .about-icons {
        width: 100%;
    }
    .n-content {
        margin: 80px 0 20px 0px;
        text-align: center;
    }
}

@media (min-width:992px) {
    .right-part>.fa-bars {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .right-part>.fa-bars {
        position: absolute;
        top: 3rem;
        right: 24px;
        z-index: 99;
        color: #fff;
        font-size: 2.2rem;
        cursor: pointer;
        transform: translateX(0);
    }
    .left-part.hidden-sidebar {
        transform: translateX(-200%);
    }
    .portfolio .library ul li img {
        width: 200px;
    }
    .owl-carousel .owl-stage-outer {
        width: 100%;
        left: 0;
        text-align: center;
    }
    .news-update .singlenews {
        font-size: 23px;
    }
    .n-content {
        text-align: center;
    }
    .footer .footer-content {
        width: 100%;
        left: 0;
        text-align: center;
    }
    .about-inner .about-icons {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .portfolio .library ul li img {
        width: 120px;
    }
    .portfolio .library-address ul li {
        margin: 0 18px 0 0;
        font-size: 12px;
    }
    .portfolio .library ul li img {
        width: 100px;
    }
    .about-inner .about-title span {
        font-size: 15px;
        line-height: 21px;
    }
    .about-inner .about-title h3 {
        font-size: 16px;
    }
    .about-inner {
        padding-top: 50px;
    }
    .about-inner .about-icons {
        width: 100%;
        flex-wrap: wrap;
    }
    .about-inner .about-icons ul li {
        white-space: nowrap;
    }
    .about-inner .about-icons ul li p {
        font-size: 12px;
        display: inline-block;
    }
    .about-buttons button {
        margin-top: 66px;
    }
    .owl-carousel .owl-stage-outer {
        width: 100%;
        left: 0;
        text-align: center;
    }
    .news-update .singlenews {
        font-size: 16px;
    }
    .n-content .n {
        padding-left: 0px;
    }
    .footer .footer-content span {
        font-size: 13px;
    }
    .right-part .home-content {
        padding: 0;
    }
    .right-part .home-content .text-typing p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 424px) {
    .portfolio .library ul li img {
        width: 85px;
    }
    .portfolio .library-address ul li {
        margin: 0 17px 0 0;
        font-size: 12px;
        white-space: nowrap;
    }
    .news-update .singlenews {
        font-size: 14px;
    }
    .n-content {
        margin: 80px 0 20px 0px;
    }
    .about-inner .about-title {
        display: block;
    }
    .about-inner .about-icons ul li p {
        display: block;
    }
    .about-inner .about-icons ul li {
        white-space: normal;
    }
    .about-buttons button {
        padding: 12px 55px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 374px) {
    .about-buttons button {
        padding: 10px 44px;
    }
    .portfolio .library ul li img {
        width: 64px;
    }
    .portfolio .library-address ul li {
        margin: 0 15px 0 0;
        font-size: 9px;
    }
    .n-content .number {
        font-size: 34px;
    }
    .portfolio .library-address {
        margin-top: 50px;
    }
    .news .news-details h4 {
        font-size: 20px;
    }
    .contact h1 {
        font-size: 34px;
    }
    .footer .footer-content span {
        font-size: 10px;
    }
    .news-word h1 {
        font-size: 32px;
    }
    h1 {
        font-size: 32px;
    }
    .services .services-inner h3 {
        font-size: 25px;
    }
    .services .services-inner h3 {
        font-size: 23px;
    }
}